*{padding:0; margin:0; font-family: sans-serif;}

/* Header section start */
.header{ height: 70px; width: 100%; display: flex; align-items: center;}
.header .lg-logo img{ width: 80px;}
.header .lg-logo{width: 10%;}
.header .nav-links{width: 88%;}
.header a{text-decoration: none; color: black; margin: 5px;  padding: 10px; }
.header .nav-links .row1{display: flex; justify-content: space-between; border-bottom: 0.4px solid lightgray; 
    padding-bottom: 5px;}
.header .nav-links .row2{display: flex; justify-content: space-between; padding-top: 5px;}

/* Header Section End */

/* Slider section start */
 .slider{width: 100%; height: 600px; background-image: url("../img/banner.webp");
     background-repeat: no-repeat; background-size: cover;}
.slider a{text-decoration: none; color: white; background-color: maroon; padding: 15px;
     position: absolute; top: 80%; left: 10%;}

/* Slider section End */

/* section1 start */
.section1{display: flex; width: 80%; text-align: center; margin: auto; margin-top: 100px;}
.section1 img{width: 200px;}
.section1 .col{width: 29%; margin: 20px; border: 1px solid lightgray; border-radius: 20px; padding: 15px;}
.section1 h1{font-size: 18px; padding: 30px;}
.section1 p{padding: 15px; color: grey;}
/* section1  End */

/* section 2 start */
.section2{width: 100%; height: 300px; background-image: url("../img/B2B\ Banner-01-01.webp");
     background-size: cover; margin-top: 100px; text-align: center; }
.section2 .btn{padding-top: 150px;}
.section2 .btn  a{text-decoration: none; color: white; background-color: maroon; padding: 10px; 
    border-radius: 5px;  }


.sam-section{width: 100%; height: 300px; background-image: url("../img/B2B\ Banner-01-01.webp");
    background-size: cover; margin-top: 100px; position: relative;}
.sam-section a{text-decoration: none; color: white; background-color: maroon; padding: 10px; 
    border-radius: 5px; position: absolute; top: 60%; left: 40%;}

.k-section{width: 100%; height: 300px; background-image: url("../img/B2B\ Banner-01-01.webp");
        background-size: cover; margin-top: 100px; }
.k-section button{ color: white; background-color: maroon; padding: 10px; 
        border-radius: 5px; border: 1px solid maroon; margin-top: 150px; margin-left: 600px; }

/* section 2 end */

/* section 3 start */
.section3{width: 90%; margin: auto; margin-top: 100px; display: flex; 
    justify-content: space-evenly;}
.section3 .col{width: 30%; }
.section3 .col img{width: 100%; height: 200px;object-fit: cover; }
.section3 .col a{text-decoration: none; color: black;}
/* section 3 end */


/* section4 start */
.section4{width: 96%; display: flex; justify-content: space-around; margin: auto; margin-top: 100px;}
.section4 .col1{width: 38%; background-image: url("../img/africa-home-block-1-t.webp"); height: 650px;
background-size: cover;  text-align: center; }
.section4 .col1 h2{color: white; padding-top: 50px;}
.section4 .col2{width: 58%;}
.section4 .col2 .img1,.img2{height: 310px;}
.section4 .col2 h2{padding-top: 20px; padding-left: 20px;}

.section4 .col2 .img1{background-image: url("../img/africa-home-block-2-d.webp");
     margin-bottom: 15px; background-size: cover;}

.section4 .col2 .img2{background-image: url("../img/africa-home-block-3-d.webp"); 
    margin-top: 15px; background-size: cover;}
/* section4 end */

/* footer-section start */
.footer-section{width: 90%; margin: auto; display: flex; justify-content: space-between;
     margin-top: 100px; margin-bottom: 100px; }
.footer-section .col1{width: 18%; margin: 10px;}
.footer-section .col1 ul li{list-style: none; font-size: 12px; color: gray; margin: 10px; padding-left: 10px;}
.footer-section .v-line{border-left: 1px solid lightgray; padding-left: 10px;}
/* footer-section end */
    

